@using ReDoReMusic.Domain.Entities;
@model InstrumentViewModel

<h2>Update Instrument Page V1 </h2>

<form method="post">

	<div class="mb-3 mt-3">
		<label class="form-label">Selected Instrument Id:</label>
		<input disabled type="text" class="form-control"  value=@Model.Instrument.Id name="id">
	</div>

	<div class="mb-3 mt-3">
		<label class="form-label">Instrument Name:</label>
		<input type="text" class="form-control"  value=@Model.Instrument.Name name ="instrumentName">
	</div>

@* 	<div class="mb-3 mt-3">
		<label class="form-label">Instrument Brand:</label>
		<select class="form-control" value=@Model.Instrument.Brand.Name name ="instrumentBrandId">
			@foreach (var brand in Model.Brands)
			{
				if (brand.Name == Model.Instrument.Brand.Name)
				{
					<option value="@brand.Id" selected>@brand.Name</option> <!-- Seçili marka için 'selected' özelliği -->
				}
				else
				{
					<option value="@brand.Id">@brand.Name</option>
				}
			}
		</select>
	</div>
 *@
	<div class="mb-3 mt-3">
    <label class="form-label">Instrument Brand:</label>
    <select class="form-control" name="instrumentBrandId">
        @foreach (var brand in Model.Brands)
        {
            <option value="@brand.Id" @(brand.Name == Model.Instrument.Brand.Name ? "selected" : "")>@brand.Name</option>
        }
    </select>
</div>



	<div class="mb-3 mt-3">
		<label class="form-label">Instrument Model:</label>
		<input type="text" class="form-control"  value=@Model.Instrument.Model name ="instrumentModel">
	</div>

	<div class="mb-3 mt-3">
		<label class="form-label">Instrument Color:</label>
		<select class="form-control" name="instrumentColor">
			<option value="Red">Red</option>
			<option value="Blue">Blue</option>
			<option value="Green">Green</option>
			<option value="Yellow">Yellow</option>
			<option value="Orange">Orange</option>
			<option value="Purple">Purple</option>
			<option value="Pink">Pink</option>
			<option value="Teal">Teal</option>
			<option value="Brown">Brown</option>
			<option value="Gray">Gray</option>
		</select>
	</div>




	<div class="mb-3 mt-3">
		<label class="form-label">Instrument ProductionYear:</label>
		<input type="text" class="form-control" value=@Model.Instrument.ProductionYear  name="instrumentProductionYear">
	</div>
	<div class="mb-3 mt-3">
		<label class="form-label">Instrument Price:</label>
		<input type="text" class="form-control" value=@Model.Instrument.Price  name="instrumentPrice">
	</div>

	<button type="submit" class="btn btn-primary">Update Instrument</button>

</form>

